{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <h2>Mapa de Rutas</h2>
                    <div id="map" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <h2>Upload File</h2>
                    <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="file" id="file">
                        <button type="submit">Upload</button>
                    </form>
                    <h2>Choferes</h2>
                    <select id="driver-select" class="form-select mb-3">
                        <option value="" selected disabled>Selecciona un chofer</option>
                        {% for driver in drivers %}
                            <option value="{{ driver.id }}">{{ driver.name }}</option>
                        {% endfor %}
                    </select>
                    <button id="show-route-btn" class="btn btn-primary">Mostrar Ruta</button>
                </div>
            </div>
        </div>
    </div> 
</div>

{% include "includes/footer.html" %}

{% endblock content %}

{% block scripts %}
<link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoicm91dGUyNCIsImEiOiJjbHd5Z25oeWQxbDV5MnFxOHE4OGFla2o4In0.AWn6zJ26HiXyH04mIAq6Kg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-70.64827, -33.45694],  // Centrado en Santiago
        zoom: 10
    });

    var routes = {{ routes|safe }};
    console.log(routes);

    function showRoute(driverId) {
        // Limpiar el mapa antes de mostrar nuevas rutas
        map.remove();
        map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-70.64827, -33.45694],  // Centrado en Santiago
            zoom: 10
        });

        var bounds = new mapboxgl.LngLatBounds();
        var routeCoordinates = [];

        routes.forEach(function(route) {

            route.longitude = route.longitude / 1000000;
            route.latitude = route.latitude / 1000000;

            if (isNaN(route.longitude) || isNaN(route.latitude) || route.longitude < -180 || route.longitude > 180 || route.latitude < -90 || route.latitude > 90) {
                console.error('Invalid coordinates for route:', route);
                return;  // Saltar este PIN y continuar con el siguiente
            }

            var colors = [
                'red', 'blue', 'green', 'yellow', 'purple', 'orange', 'pink', 'brown', 'black', 'skyblue',
                'magenta', 'cyan', 'lime', 'maroon', 'navy', 'olive', 'teal', 'violet', 'gold', 'silver',
                'coral', 'chocolate', 'crimson', 'indigo', 'ivory', 'khaki', 'lavender', 'turquoise', 'plum', 'orchid', 'salmon', 'sienna', 'tan', 'wheat', 'aqua', 'azure', 'beige', 'bisque', 'chartreuse', 'fuchsia', 'gainsboro', 'ghostwhite', 'honeydew', 'hotpink', 'lavenderblush', 'lightblue', 'lightcoral', 'lightgreen', 'lightpink', 'lightsalmon'
            ];

            console.log("showRoute" + driverId);
            //if (route.driver == driverId){
                console.log("aca");
                if(route.longitude && route.latitude) {
                    console.log("aqui");
                    console.log(route);

                    var el = document.createElement('div');
                    el.className = 'marker';
                    el.style.backgroundColor = colors[route.driver - 1];  
                    el.style.width = '20px';
                    el.style.height = '20px';
                    el.style.borderRadius = '50%';
                    el.style.display = 'flex';
                    el.style.alignItems = 'center';
                    el.style.justifyContent = 'center';
                    el.style.color = 'white';
                    el.style.fontSize = '12px';
                    el.style.fontWeight = 'bold';
                    el.innerText = route.order;

                    new mapboxgl.Marker(el)
                        .setLngLat([route.longitude, route.latitude])
                        .setPopup(new mapboxgl.Popup({ offset: 20 })
                            .setText(`(${route.driver}) Destino ${route.order}: ${route.address} - ${route.description}`))
                        .addTo(map);

                    bounds.extend([route.longitude, route.latitude]);
                    routeCoordinates.push([route.longitude, route.latitude]);
                } else {
                    console.error('Invalid coordinates for route:', route);
                }   
            //}
        });

        // Ajustar el mapa para mostrar todas las rutas
        if (routeCoordinates.length > 0) {
            map.fitBounds(bounds, {
                padding: 50
            });

            // Dibujar la línea de la ruta
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': routeCoordinates
                    }
                }
            });

            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 6
                }
            });
        }
    }

    document.getElementById('show-route-btn').addEventListener('click', function() {
        var driverId = document.getElementById('driver-select').value;
        if (driverId) {
            showRoute(driverId);
        } else {
            console.error('Por favor selecciona un chofer.');
        }
    });
</script>

{% endblock scripts %}
