{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="background-color: #edf4ee; height:100vh;width: 110%;">
    <div class="row h-100">
        <!-- Columna para el formulario -->
        <div class="col-4 d-flex flex-column" style="padding: 0;">
            <div class="d-flex flex-column h-100">
                <!-- Paso 1 -->
                <div id="step1" class="step flex-grow-1">
                    <form id="step1_form" method="post" class="h-100 d-flex flex-column">
                        {% csrf_token %}
                        <div class="flex-grow-1">
                            <!-- <input type="text" id="driver-search" class="form-control" placeholder="Buscar chofer..."> -->
                            <div id="driver-list" style="max-height: 100%; overflow-y: auto;">
                                <h5 class="mt-3 text-center">Selecciona los vehículos a utilizar</h5>
                                <hr class="horizontal dark mt-0">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="" style="font-size: 0.80rem;">Vehículo</th>
                                            <th class="" style="font-size: 0.80rem;">Capacidad</th>
                                            <th class="" style="font-size: 0.80rem;">Conductor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vehicle in vehicles %}
                                            <tr>
                                                <td>
                                                    <input class="form-check-input" type="checkbox" id="id_vehicles_{{ forloop.counter0 }}" name="drivers" value="{{ vehicle.id }}">
                                                </td>
                                                <td>
                                                    <label class="form-check-label" for="id_vehicles_{{ forloop.counter0 }}">
                                                        {{ vehicle.name }}
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="form-check-label" for="id_vehicles_{{ forloop.counter0 }}">
                                                        {{ vehicle.capacity }}
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="form-check-label" for="id_vehicles_{{ forloop.counter0 }}">
                                                        {{ vehicle.user }}
                                                    </label>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-end mb-6 m-2">
                            <span id="message" class="sm-1 text-danger mt-2 m-1" style="display: none; font-size: 0.70rem;">Selecciona al menos un vehículo(*)</span>
                            <button type="button" id="next-step-btn" class="btn btn-primary" onclick="submitStep(1)">Guardar y Continuar</button>
                        </div>
                    </form>
                </div>

                <!-- Paso 2 -->
                <!-- Paso 2 -->
                <div id="step2" class="step flex-grow-1" style="display: none;">
                    <div id="loading" style="
                        display: none; 
                        position: fixed; 
                        top: 50%; 
                        left: 50%; 
                        transform: translate(-50%, -50%); 
                        z-index: 1000; 
                        width: 3rem; 
                        height: 3rem;
                    ">
                        <div class="spinner-border" role="status" style="
                            width: 3rem; 
                            height: 3rem; 
                            border-width: 0.3em;
                        ">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>

                    <div class="m-3 flex-grow-1">
                        <div class="row justify-content-start">
                            <div class="col-md-6 mt-3">
                                <h6>Cargar puntos</h6>
                            </div>
                            <div class="col-md-6 mt-3 d-flex justify-content-end">
                                <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cargar
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Manual</a>
                                    <a class="dropdown-item" href="#" id="upload-excel-link">Excel</a>
                                    <input type="file" id="upload-excel" accept=".xls,.xlsx" style="display: none;">
                                    <a class="dropdown-item" href="#">Integración</a>
                                </div>
                            </div>
                        </div>
                        <input type="text" id="driver-search" class="form-control" placeholder="Buscar dirección...">
                        {% if uploaded_addresses %}
                            
                            <div class="col-12">
                                <!-- Botones de acciones masivas -->
                                <div class="d-flex mt-2">
                                    <div class="m-2">
                                        <input type="checkbox" id="select-all" /> Seleccionar Todos
                                    </div>
                                    <div class="m-2">
                                        <button type="button" class="btn btn-danger btn-sm" onclick="deleteSelected()">Eliminar</button>
                                        <button type="button" class="btn btn-warning btn-sm" onclick="editSelected()">Editar</button>
                                    </div>
                                </div>
                            </div>
                            <div id="address-list" style="max-height: 400px; overflow-y: auto;">
                                {% for address in uploaded_addresses %}
                                <input type="checkbox" class="row-select" value="{{ address.id }}" />
                                <ul class="list-group">
                                    <li class="list-group-item d-flex address-item {% if forloop.counter > 6 %}d-none{% endif %}">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <input type="checkbox" class="row-select mr-2" value="{{ address.id }}" />
                                                <span class="font-weight-bold">{{ address.street }}</span>
                                                <p class="mb-1">{{ address.city }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                        {% endif %}

                    </div>

                    <!-- Botones al final del paso -->
                    <div class="d-flex justify-content-end m-2 mt-3">
                        <button type="button" id="previous-step-btn" class="btn btn-primary" onclick="previousStep(2)">Volver</button>
                        <button type="button" id="next-step-btn" class="btn btn-primary ml-2" onclick="submitStep(2)">Guardar y Continuar</button>
                    </div>
                </div>

                

                <!-- Paso 3 -->
                <div id="step3" class="step" style="display: none; flex-grow: 1;">
                    <div id="driver-list" class="scrollable-list" style="max-height: 100%; overflow-y: auto;">
                        <div id="accordionFlushExample">
                            <!-- Contenido del acordeón -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-3" onclick="submitStep(3)">Completar</button>
                </div>
            </div>
        </div>

        <!-- Columna para el mapa -->
        <div class="col-md-8 d-flex flex-column" style="padding: 0;">
            <div id="map-step1" class="map-container" style="flex-grow: 1; height: 100%;"></div>
            <div id="map-step2" class="map-container" style="flex-grow: 1; height: 100%; display: none;"></div>
            <div id="map-step3" class="map-container" style="flex-grow: 1; height: 100%; display: none;"></div>
        </div>
    </div> 
</div>

{% endblock content %}

{% block scripts %}

<link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoicm91dGUyNCIsImEiOiJjbHd5Z25oeWQxbDV5MnFxOHE4OGFla2o4In0.AWn6zJ26HiXyH04mIAq6Kg';
    
    // Mapa para cada paso
    var map1, map2, map3;

    function initializeMaps() {
        map1 = new mapboxgl.Map({
            container: 'map-step1',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-70.64827, -33.45694],
            zoom: 10
        });

        map2 = new mapboxgl.Map({
            container: 'map-step2',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-70.64827, -33.45694],
            zoom: 10
        });

        map3 = new mapboxgl.Map({
            container: 'map-step3',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-70.64827, -33.45694],
            zoom: 10
        });
    }

    function getCsrfToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    function previousStep(step) {
        $('#step' + step).hide();
        $('#step' + (step - 1)).show();
    }

    function submitStep(step) {
        var formId = '#step' + step + '_form';
        $.ajax({
            url: '/save_step_data/' + step + '/',
            method: 'POST',
            data: $(formId).serialize(),
            headers: {
                'X-CSRFToken': getCsrfToken()
            },
            success: function(response) {
                if (response.status === 'success') {
                    if (step == 2) {
                        //getRoutesOptimized();
                    }
                    if (step < 3) {
                        $('.step').hide();
                        $('#step' + (step + 1)).show();
                    } else {
                        completeForm();
                        alert(response.message);
                        window.location.href = 'http://127.0.0.1:8000/planning';
                    }
                } else {
                    alert('Errors: ' + JSON.stringify(response.errors));
                }
            }
        });
    }

    function completeForm() {
        $.ajax({
            url: '/complete_form/',
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken()
            },
            success: function(response) {
                if (response.status === 'success') {
                    alert("AQUI"+response.message);
                } else {
                    alert('Error: ' + response.message);
                }
            }
        });
    }

    $(document).ready(function() {
    $('#upload-excel-link').on('click', function(e) {
        e.preventDefault();
        $('#upload-excel').click();
    });

    $('#upload-excel').on('change', function() {
        uploadFile();
    });
});

function showLoading() {
    $('#loading').show(); // Muestra la animación de carga
}

function hideLoading() {
    $('#loading').hide(); // Oculta la animación de carga
}


function uploadFile() {
    var fileInput = $('#upload-excel')[0];
    var formData = new FormData();
    formData.append('file', fileInput.files[0]);

    // Mostrar la animación de carga
    showLoading();

    // Guardar el paso actual en sessionStorage
    var currentStep = localStorage.getItem('currentStep') || 2; // Usa sessionStorage si es necesario

    $.ajax({
        url: '/upload_routes/2/',
        method: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        headers: {
            'X-CSRFToken': getCsrfToken()
        },
        success: function(response) {
            if (response.status === 'success') {
                // Almacenar el paso actual en sessionStorage antes de recargar
                sessionStorage.setItem('currentStep', currentStep);
                // Recargar la página
                location.reload();
            } else {
                alert('Error al subir el archivo: ' + response.message);
            }
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
        },
        complete: function() {
            // Ocultar la animación de carga
            hideLoading();
        }
    });
}

$(document).ready(function() {
    // Restaurar el paso actual después de la recarga
    var savedStep = sessionStorage.getItem('currentStep');
    if (savedStep) {
        $('.step').hide();
        $('#step' + savedStep).show();
        sessionStorage.removeItem('currentStep'); // Opcional: limpiar el valor después de usarlo
    }
});



    // function getRoutesOptimized() {
    //     $.ajax({
    //         url: '/get_optimized_routes/',
    //         method: 'GET',
    //         success: function(response) {
    //             if (response.status === 'success') {
    //                 let routesByVehicle = response.routes.reduce((acc, route) => {
    //                     if (!acc[route.vehicle_id]) {
    //                         acc[route.vehicle_id] = [];
    //                     }
    //                     acc[route.vehicle_id].push(route);
    //                     return acc;
    //                 }, {});

    //                 Object.keys(routesByVehicle).forEach(vehicleId => {
    //                     updateMapWithRoutes(vehicleId, routesByVehicle[vehicleId]);
    //                 });
    //             } else {
    //                 console.error('Error al obtener rutas optimizadas:', response.message);
    //             }
    //         },
    //         error: function(xhr, status, error) {
    //             console.error('Error:', error);
    //         }
    //     });
    // }

    function displayAddresses(addresses) {
        let addressTable = `
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Calle</th>
                    </tr>
                </thead>
                <tbody>
        `;

        addresses.forEach(address => {
            addressTable += `
                <tr>
                    <td>${address.street}</td>
                </tr>
            `;
        });

        addressTable += `
                </tbody>
            </table>
        `;

        $('#addresses-list').html(addressTable);
    }


    function showAddressesOnMap(addresses) {
        map2.clear(); // Limpiar el mapa antes de agregar nuevas direcciones
        let bounds = new mapboxgl.LngLatBounds();

        addresses.forEach(address => {
            let lat = parseFloat(address.lat) / 1000000;
            let lng = parseFloat(address.long) / 1000000;

            if (!isNaN(lat) && !isNaN(lng) && lat >= -90 && lat <= 90 && lng >= -180 && lng <= 180) {
                new mapboxgl.Marker()
                    .setLngLat([lng, lat])
                    .setPopup(new mapboxgl.Popup({ offset: 20 })
                        .setText(`${address.street} ${address.number}, ${address.city}`))
                    .addTo(map2);

                bounds.extend([lng, lat]);
            }
        });

        if (!bounds.isEmpty()) {
            map2.fitBounds(bounds, { padding: 50 });
        }
    }

    function updateMapWithRoutes(vehicleId, routes) {
        let bounds = new mapboxgl.LngLatBounds();
        let routeCoordinates = [];

        routes.forEach(route => {
            let lat = parseFloat(route.lat) / 1000000;
            let lng = parseFloat(route.long) / 1000000;

            if (!isNaN(lat) && !isNaN(lng) && lat >= -90 && lat <= 90 && lng >= -180 && lng <= 180) {
                new mapboxgl.Marker()
                    .setLngLat([lng, lat])
                    .setPopup(new mapboxgl.Popup({ offset: 20 })
                        .setText(`Destino ${route.order}: ${route.street} - ${route.description}`))
                    .addTo(map3);

                bounds.extend([lng, lat]);
                routeCoordinates.push([lng, lat]);
            }
        });

        if (routeCoordinates.length > 0) {
            if (map3.getSource('route-' + vehicleId)) {
                map3.getSource('route-' + vehicleId).setData({
                    'type': 'Feature',
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': routeCoordinates
                    }
                });
            } else {
                map3.addSource('route-' + vehicleId, {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'LineString',
                            'coordinates': routeCoordinates
                        }
                    }
                });

                map3.addLayer({
                    'id': 'route-' + vehicleId,
                    'type': 'line',
                    'source': 'route-' + vehicleId,
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#888',
                        'line-width': 6
                    }
                });
            }

            map3.fitBounds(bounds, { padding: 50 });
        }
    }
    
    // Llamar a la inicialización del mapa solo una vez
    $(document).ready(function() {
        initializeMaps();
    });

    // Bloquear boton de vehicles:
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxInputs = document.querySelectorAll('#driver-list .form-check-input');
        const nextStepButton = document.getElementById('next-step-btn');
        const messageSpan = document.getElementById('message');


        function updateButtonState() {
            let anyChecked = Array.from(checkboxInputs).some(input => input.checked);
            nextStepButton.disabled = !anyChecked;
            messageSpan.style.display = anyChecked ? 'none' : 'inline';
        }

        checkboxInputs.forEach(input => {
            input.addEventListener('change', updateButtonState);
        });

        updateButtonState();
    });



    // Función para seleccionar/deseleccionar todas las filas
    document.getElementById('select-all').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('.row-select');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });

    // Función para eliminar las direcciones seleccionadas
    function deleteSelected() {
        var selectedIds = Array.from(document.querySelectorAll('.row-select:checked')).map(cb => cb.value);
        if (selectedIds.length > 0) {
            if (confirm('¿Estás seguro de que quieres eliminar las direcciones seleccionadas?')) {
                // Implementar lógica para eliminar las direcciones seleccionadas
                alert('Eliminar direcciones con IDs: ' + selectedIds.join(', '));
            }
        } else {
            alert('No se ha seleccionado ninguna dirección.');
        }
    }

    // Función para editar las direcciones seleccionadas
    function editSelected() {
        var selectedIds = Array.from(document.querySelectorAll('.row-select:checked')).map(cb => cb.value);
        if (selectedIds.length > 0) {
            // Implementar lógica para editar las direcciones seleccionadas
            alert('Editar direcciones con IDs: ' + selectedIds.join(', '));
        } else {
            alert('No se ha seleccionado ninguna dirección.');
        }
    }

    // Función de ejemplo para editar dirección
    function editAddress(id) {
        // Implementar lógica para editar
        alert('Editar dirección con ID: ' + id);
    }

    // Función de ejemplo para eliminar dirección
    function deleteAddress(id) {
        // Implementar lógica para eliminar
        if (confirm('¿Estás seguro de que quieres eliminar esta dirección?')) {
            alert('Eliminar dirección con ID: ' + id);
        }
    }

</script>
{% endblock scripts %}
