{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div style="height:100vh;width: 100%;">
    <div class="row h-100 p-3">
        <!-- Columna para el formulario -->
        <div class="col-4 align-items-center" style="padding: 0;">
            <div class="d-flex flex-column h-100 bg-light">
                <!-- Paso 1 -->
                <div id="step1" class="step flex-grow-1">
                    
                    <form id="step1_form" method="post" class="h-100 d-flex flex-column">
                        {% csrf_token %}
                        <div class="flex-grow-1 align-items-center">
                            
                                <!-- Header con estilo -->
                                <div class="bg-primary text-white p-3">
                                    <h5 class="m-0 text-white">Selecciona los vehículos</h5>
                                </div>
                                <div style="max-height: 550px; overflow-y: auto !important;">
                                    <ul class="list-group list-group-flush" id="driver-list">
                                        {% for vehicle in vehicles %}
                                            <li class="list-group-item d-flex justify-content-between border-0 mb-1">
                                                <div class="form-check">
                                                    <input class="form-check-input mt-3" type="checkbox" id="id_vehicles_{{ forloop.counter0 }}" name="drivers" value="{{ vehicle.id }}">
                                                    <label class="form-check-label mt-3" for="id_vehicles_{{ forloop.counter0 }}">
                                                        <strong>{{ vehicle.name }}</strong>
                                                    </label>
                                                </div>
                                                <div class="ms-2 d-flex flex-column">
                                                    <div class="ms-2 d-flex flex-column">
                                                        <div class="d-flex align-items-start mb-1 justify-content-start">
                                                            <i class="me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-segmented-nav" viewBox="0 0 16 16">
                                                                    <path d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6 3h4V5H6zm9-1V6a1 1 0 0 0-1-1h-3v4h3a1 1 0 0 0 1-1"/>
                                                                </svg>
                                                            </i>
                                                            <p class="card-text mb-0">
                                                                {{ vehicle.capacity }}
                                                            </p>
                                                        </div>
                                                        <div class="d-flex align-items-start mb-1 justify-content-start">
                                                            <i class="me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-segmented-nav" viewBox="0 0 16 16">
                                                                    <path d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6 3h4V5H6zm9-1V6a1 1 0 0 0-1-1h-3v4h3a1 1 0 0 0 1-1"/>
                                                                </svg>
                                                            </i>
                                                            <p class="card-text mb-0">
                                                                {{ vehicle.user }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="d-flex justify-content-end mb-6 m-2">
                                    <span id="message" class="sm-1 text-danger mt-2 m-1" style="display: none; font-size: 0.70rem;">Selecciona al menos un vehículo(*)</span>
                                    <button type="button" id="next-step-btn" class="btn btn-primary m-1" onclick="submitStep(1)">Guardar y Continuar</button>
                                </div>
                            </div>
                        
                    </form>
                
                </div>

                <!-- Paso 2 -->
                <div id="step2" class="step flex-grow-1" style="display: none;">
                    <div id="loading" style="
                        display: none; 
                        position: fixed; 
                        top: 50%; 
                        left: 50%; 
                        transform: translate(-50%, -50%); 
                        z-index: 1000; 
                        width: 3rem; 
                        height: 3rem;
                    ">
                        <div class="spinner-border" role="status" style="
                            width: 3rem; 
                            height: 3rem; 
                            border-width: 0.3em;
                        ">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>

                    <div class="flex-grow-1">
                        <div style="height: 700px !important;">
                            <div class="bg-primary text-white p-3">
                                <div>
                                    <h5 class="m-0 text-white">Cargar puntos</h5>
                                </div>
                            </div>                
                            <div class="d-flex m-1">
                                <div class="flex-grow-1 me-2">
                                    <input type="text" id="driver-search" class="p-2" placeholder="Buscar dirección...">
                                </div>
                                <div>
                                    <button type="button" style="padding: 11px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Cargar
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" id="manual-load-link">Manual</a>
                                        <a class="dropdown-item" href="#" id="upload-excel-link">Excel</a>
                                        <input type="file" id="upload-excel" accept=".xls,.xlsx" style="display: none;">
                                        <a class="dropdown-item" href="#">Integración</a>
                                    </div>
                                </div>
                            </div>
                            
                        
                            <!-- Formulario oculto inicialmente -->
                            <div id="manual-load-form" style="display: none;">
                                <h5>Formulario de Carga Manual</h5>
                                <form>
                                    <!-- Título -->
                                    <div class="form-group mb-3">
                                        <label for="title">Título</label>
                                        <input type="text" id="title" class="form-control" placeholder="Ingrese el título" maxlength="100">
                                    </div>
                                
                                    <!-- Dirección y Ciudad -->
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="street">Dirección</label>
                                            <input type="text" id="street" class="form-control" placeholder="Ingrese la dirección" maxlength="100">
                                        </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="city">Ciudad</label>
                                            <input type="text" id="city" class="form-control" placeholder="Ingrese la ciudad" maxlength="100">
                                        </div>
                                    </div>
                                
                                    <!-- Estado y Nota -->
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="state">Estado</label>
                                            <input type="text" id="state" class="form-control" placeholder="Ingrese el estado" maxlength="100">
                                        </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="note">Nota</label>
                                            <input type="text" id="note" class="form-control" placeholder="Ingrese una nota" maxlength="100">
                                        </div>
                                    </div>
                                
                                    <!-- Recibe y Teléfono -->
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="receives">Recibe</label>
                                            <input type="text" id="receives" class="form-control" placeholder="Nombre de la persona que recibe" maxlength="100">
                                        </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="phone">Teléfono</label>
                                            <input type="text" id="phone" class="form-control" placeholder="Ingrese el teléfono" maxlength="100">
                                        </div>
                                    </div>
                                
                                    <!-- Latitud y Longitud -->
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="latitude">Latitud</label>
                                            <input type="text" id="latitude" class="form-control" placeholder="Ingrese la latitud" maxlength="20" value="0.0">
                                        </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="longitude">Longitud</label>
                                            <input type="text" id="longitude" class="form-control" placeholder="Ingrese la longitud" maxlength="20" value="0.0">
                                        </div>
                                    </div>
                                
                                    <!-- Botones de acción -->
                                    <div class="form-group mt-3">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                        <button type="button" id="close-form" class="btn btn-danger">Cancelar</button>
                                    </div>
                                </form>
                                
                            </div>
                        
                            {% if uploaded_addresses %}
                                <div class="col-12">
                                    <!-- Botones de acciones masivas -->
                                    <div class="d-flex mt-2">
                                        <div class="m-2">
                                            <input type="checkbox" id="select-all" /> Seleccionar Todos
                                        </div>
                                        <div class="m-2">
                                            <button type="button" class="btn btn-danger btn-sm" onclick="deleteSelected()">Eliminar</button>
                                            <button type="button" class="btn btn-warning btn-sm" onclick="editSelected()">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="address-list" style="max-height: 500px; overflow-y: auto !important;">
                                    <ul class="list-group">
                                        {% for address in uploaded_addresses %}
                                        <li class="list-group-item d-flex justify-content-between mb-1" style="border-radius: 0;">
                                            <div class="form-check">
                                                <input class="form-check-input mt-3 row-select" type="checkbox" id="id_address_{{ forloop.counter0 }}" name="address" value="{{ address.code }}">
                                                <label class="form-check-label mt-3" for="id_address_{{ forloop.counter0 }}">
                                                    <strong>{{ address.street }}</strong>
                                                </label>
                                            </div>
                                            <div class="ms-2 d-flex flex-column">
                                                <div class="ms-2 d-flex flex-column">
                                                    <div class="d-flex align-items-start mb-1 justify-content-start">
                                                        <i class="me-2">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-segmented-nav" viewBox="0 0 16 16">
                                                                <path d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6 3h4V5H6zm9-1V6a1 1 0 0 0-1-1h-3v4h3a1 1 0 0 0 1-1"/>
                                                            </svg>
                                                        </i>
                                                        <p class="card-text mb-0">
                                                            {{ address.number }}
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-start mb-1 justify-content-start">
                                                        <i class="me-2">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-segmented-nav" viewBox="0 0 16 16">
                                                                <path d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6 3h4V5H6zm9-1V6a1 1 0 0 0-1-1h-3v4h3a1 1 0 0 0 1-1"/>
                                                            </svg>
                                                        </i>
                                                        <p class="card-text mb-0">
                                                            {{ address.city }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <!-- Botones al final del paso -->
                    <div class="d-flex justify-content-end mb-6 m-2">
                        <button type="button" id="previous-step-btn" class="btn btn-primary m-1" onclick="previousStep(2)">Volver</button>
                        <button type="button" id="next-step-btn" class="btn btn-primary m-1" onclick="submitStep(2)">Guardar y Continuar</button>
                    </div>
                </div>

                

                <!-- Paso 3 -->
                <div id="step3" class="step" style="display: none; flex-grow: 1;">
                    <div id="driver-list" class="scrollable-list" style="max-height: 100%; overflow-y: auto !important;">
                        <div id="accordionFlushExample">
                            <!-- Contenido del acordeón -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-3" onclick="submitStep(3)">Completar</button>
                </div>
            </div>
        </div>

        <!-- Columna para el mapa -->
        <div class="col-md-8 d-flex flex-column" style="padding: 0;">
            <div id="map-step1" class="map-container" style="flex-grow: 1; height: 100%;"></div>
            <div id="map-step2" class="map-container" style="flex-grow: 1; height: 100%; display: none;"></div>
            <div id="map-step3" class="map-container" style="flex-grow: 1; height: 100%; display: none;"></div>
        </div>
    </div> 
</div>

{% endblock content %}

{% block scripts %}

<link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoicm91dGUyNCIsImEiOiJjbHd5Z25oeWQxbDV5MnFxOHE4OGFla2o4In0.AWn6zJ26HiXyH04mIAq6Kg';
    
    // Mapa para cada paso
    var map1, map2, map3;

    function initializeMaps() {
        map1 = new mapboxgl.Map({
            container: 'map-step1',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-70.64827, -33.45694],
            zoom: 10
        });

        map2 = new mapboxgl.Map({
            container: 'map-step2',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-70.64827, -33.45694],
            zoom: 10
        });

        map3 = new mapboxgl.Map({
            container: 'map-step3',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-70.64827, -33.45694],
            zoom: 10
        });
    }

    function getCsrfToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    function previousStep(step) {
        $('#step' + step).hide();
        $('#step' + (step - 1)).show();
    }

    function submitStep(step) {
        var formId = '#step' + step + '_form';
        $.ajax({
            url: '/save_step_data/' + step + '/',
            method: 'POST',
            data: $(formId).serialize(),
            headers: {
                'X-CSRFToken': getCsrfToken()
            },
            success: function(response) {
                if (response.status === 'success') {
                    if (step == 2) {
                        //getRoutesOptimized();
                    }
                    if (step < 3) {
                        console.log("STEP: "+step)
                        $('.step').hide();
                        $('#step' + (step + 1)).show();
                    } else {
                        completeForm();
                        alert(response.message);
                        window.location.href = 'http://127.0.0.1:8000/planning';
                    }
                } else {
                    alert('Errors: ' + JSON.stringify(response.errors));
                }
            }
        });
    }

    function completeForm() {
        $.ajax({
            url: '/complete_form/',
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken()
            },
            success: function(response) {
                if (response.status === 'success') {
                    alert("AQUI"+response.message);
                } else {
                    alert('Error: ' + response.message);
                }
            }
        });
    }

    $(document).ready(function() {
    $('#upload-excel-link').on('click', function(e) {
        e.preventDefault();
        $('#upload-excel').click();
    });

    $('#upload-excel').on('change', function() {
        uploadFile();
    });
});

function showLoading() {
    $('#loading').show(); // Muestra la animación de carga
}

function hideLoading() {
    $('#loading').hide(); // Oculta la animación de carga
}


//CARGAR EXCEL
function uploadFile() {
    var fileInput = $('#upload-excel')[0];
    var formData = new FormData();
    formData.append('file', fileInput.files[0]);

    // Mostrar la animación de carga
    showLoading();

    // Guardar el paso actual en sessionStorage
    var currentStep = localStorage.getItem('currentStep') || 2; // Usa sessionStorage si es necesario

    $.ajax({
        url: '/upload_routes/2/',
        method: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        headers: {
            'X-CSRFToken': getCsrfToken()
        },
        success: function(response) {
            if (response.status === 'success') {
                // Almacenar el paso actual en sessionStorage antes de recargar
                sessionStorage.setItem('currentStep', currentStep);
                // Recargar la página
                location.reload();
            } else {
                alert('Error al subir el archivo: ' + response.message);
            }
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
        },
        complete: function() {
            // Ocultar la animación de carga
            hideLoading();
        }
    });
}

//CARGA MANUAL
document.getElementById('manual-load-link').addEventListener('click', function(event) {
    event.preventDefault(); // Evita la redirección
    document.getElementById('manual-load-form').style.display = 'block';
});

document.getElementById('close-form').addEventListener('click', function(event) {
    event.preventDefault(); // Evita la redirección
    document.getElementById('manual-load-form').style.display = 'none';
});

$(document).ready(function() {
    // Restaurar el paso actual después de la recarga
    var savedStep = sessionStorage.getItem('currentStep');
    if (savedStep) {
        $('.step').hide();
        $('#step' + savedStep).show();
        sessionStorage.removeItem('currentStep');
    }
});


    function displayAddresses(addresses) {
        let addressTable = `
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Calle</th>
                    </tr>
                </thead>
                <tbody>
        `;

        addresses.forEach(address => {
            addressTable += `
                <tr>
                    <td>${address.street}</td>
                </tr>
            `;
        });

        addressTable += `
                </tbody>
            </table>
        `;

        $('#addresses-list').html(addressTable);
    }


    function showAddressesOnMap(addresses) {
        map2.clear(); // Limpiar el mapa antes de agregar nuevas direcciones
        let bounds = new mapboxgl.LngLatBounds();

        addresses.forEach(address => {
            let lat = parseFloat(address.lat) / 1000000;
            let lng = parseFloat(address.long) / 1000000;

            if (!isNaN(lat) && !isNaN(lng) && lat >= -90 && lat <= 90 && lng >= -180 && lng <= 180) {
                new mapboxgl.Marker()
                    .setLngLat([lng, lat])
                    .setPopup(new mapboxgl.Popup({ offset: 20 })
                        .setText(`${address.street} ${address.number}, ${address.city}`))
                    .addTo(map2);

                bounds.extend([lng, lat]);
            }
        });

        if (!bounds.isEmpty()) {
            map2.fitBounds(bounds, { padding: 50 });
        }
    }

    function updateMapWithRoutes(vehicleId, routes) {
        let bounds = new mapboxgl.LngLatBounds();
        let routeCoordinates = [];

        routes.forEach(route => {
            let lat = parseFloat(route.lat) / 1000000;
            let lng = parseFloat(route.long) / 1000000;

            if (!isNaN(lat) && !isNaN(lng) && lat >= -90 && lat <= 90 && lng >= -180 && lng <= 180) {
                new mapboxgl.Marker()
                    .setLngLat([lng, lat])
                    .setPopup(new mapboxgl.Popup({ offset: 20 })
                        .setText(`Destino ${route.order}: ${route.street} - ${route.description}`))
                    .addTo(map3);

                bounds.extend([lng, lat]);
                routeCoordinates.push([lng, lat]);
            }
        });

        if (routeCoordinates.length > 0) {
            if (map3.getSource('route-' + vehicleId)) {
                map3.getSource('route-' + vehicleId).setData({
                    'type': 'Feature',
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': routeCoordinates
                    }
                });
            } else {
                map3.addSource('route-' + vehicleId, {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'LineString',
                            'coordinates': routeCoordinates
                        }
                    }
                });

                map3.addLayer({
                    'id': 'route-' + vehicleId,
                    'type': 'line',
                    'source': 'route-' + vehicleId,
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#888',
                        'line-width': 6
                    }
                });
            }

            map3.fitBounds(bounds, { padding: 50 });
        }
    }
    
    // Llamar a la inicialización del mapa solo una vez
    $(document).ready(function() {
        initializeMaps();
    });

    // Bloquear boton de vehicles:
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxInputs = document.querySelectorAll('#driver-list .form-check-input');
        const nextStepButton = document.getElementById('next-step-btn');
        const messageSpan = document.getElementById('message');


        function updateButtonState() {
            let anyChecked = Array.from(checkboxInputs).some(input => input.checked);
            nextStepButton.disabled = !anyChecked;
            messageSpan.style.display = anyChecked ? 'none' : 'inline';
        }

        checkboxInputs.forEach(input => {
            input.addEventListener('change', updateButtonState);
        });

        updateButtonState();
    });



    // Función para seleccionar/deseleccionar todas las filas
    document.getElementById('select-all').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('.row-select');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });

    // Función para eliminar las direcciones seleccionadas
    function deleteSelected() {
        var selectedIds = Array.from(document.querySelectorAll('.row-select:checked')).map(cb => cb.value);
        if (selectedIds.length > 0) {
            if (confirm('¿Estás seguro de que quieres eliminar las direcciones seleccionadas?')) {
                // Implementar lógica para eliminar las direcciones seleccionadas
                fetch('/delete_addresses/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({ 'selected_ids': selectedIds })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Direcciones eliminadas con éxito.');
                        localStorage.setItem('currentStep', 1);
                        window.location.reload();
                        } else {
                            alert('Hubo un problema al eliminar las direcciones.');
                        }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        } else {
            alert('No se ha seleccionado ninguna dirección.');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var currentStep = localStorage.getItem('currentStep');
        if (currentStep) {
            submitStep(1); 
            localStorage.removeItem('currentStep');
        }
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Función para editar las direcciones seleccionadas
    function editSelected() {
        var selectedIds = Array.from(document.querySelectorAll('.row-select:checked')).map(cb => cb.value);
        if (selectedIds.length > 0) {
            // Implementar lógica para editar las direcciones seleccionadas
            alert('Editar direcciones con IDs: ' + selectedIds.join(', '));
        } else {
            alert('No se ha seleccionado ninguna dirección.');
        }
    }

    // Función de ejemplo para editar dirección
    function editAddress(id) {
        // Implementar lógica para editar
        alert('Editar dirección con ID: ' + id);
    }

    // Función de ejemplo para eliminar dirección
    function deleteAddress(id) {
        // Implementar lógica para eliminar
        if (confirm('¿Estás seguro de que quieres eliminar esta dirección?')) {
            alert('Eliminar dirección con ID: ' + id);
        }
    }

</script>
{% endblock scripts %}
