{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row h-100">
        <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3 h-30">
                    <h3>Are you sure you want to delete {{ company.name }}?</h3>
                    <form method="post">
                        {% csrf_token %}
                        <a href="{% url 'companies_index' %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "includes/footer.html" %}

{% endblock content %}
